body {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    /* 70% en valeur */
    width: 70%; 
    /* Centrer */
    margin: auto;
    /* Contenaire */
    display: flex;
    flex-direction: column;
}
form input {
    /* distance entre les deux */
    margin: 10px;
    /* Agrandir les input */
    padding: 8px;
    
}