body {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    /* 70% en valeur */
    width: 70%; 
    /* Centrer */
    margin: auto;
    /* Contenaire */
    display: flex;
    flex-direction: column;
}
form input {
    /* distance entre les deux */
    margin: 10px;
    /* Agrandir les input */
    padding: 8px;
    /* enrondi les bordures */
    border-radius: 7px;
    /* les bordures et couleurs */
    border: 1px solid #ccc;
    /* ligne bordure */
    outline: none;
}
/* Manipulation du button */
form input[type="submit"]{
    /* pointage */
    cursor: pointer;
    /* transition */
    transition: 1s;
}
/* manuipulation du button en fonction du pointage */
form input[type="submit"]:hover {
    background-color: rgb(234, 167, 10);
    border: 1px solid rgb(234, 167, 10);
}
/* manupilation du section */
section{
    width: 70%;
    margin: 20px auto;
    background-color: #f3f3f3;
    padding: 15px;
    border: 1px solid #ccc;
}